

# ====================== LangChain: Framework para desarrollo de aplicacion de LLM ======================

langchain>=1.0.7
langchain-openai>=1.0.3
langchain-community>=0.4.1
langchain-core>=1.0.7

# ====================== Web servidor y su aplicacion ======================
fastapi>=0.100.0
uvicorn>=0.23.0

# ====================== DB ======================

mysql-connector-python~=9.4.0


# ====================== DB vectoria y servicio nube IA ======================
pinecone~=7.3.0
dashscope>=1.14.0

# ====================== tools secondarios ======================
python-dotenv>=1.0.0
requests>=2.31.0
pydantic~=2.11.7
